# Файл .env - НИКОГДА не публикуйте этот файл!

# Токен вашего бота (получите у @BotFather в Telegram)
BOT_TOKEN=8550276694:AAFR6pky9nJyxCHRLWhJcsJnnsIROcSEXSg

# ID администратора (ваш Telegram ID)
ADMIN_ID=8412853741
